.home--Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home--Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-family: 'SF-UI-Display-Light';
  font-size: 70px;
  margin: 0;
  color: #9BD9FF;
  margin-top: 100px;
  margin-bottom: 50px;
  width: 35%;
  height: 110px;
  box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.5), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 3px 4px -1px rgba(255, 255, 255, 0.2), inset 0 0 5px 1px rgba(255, 255, 255, 0.8), inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);
}

.products--scrollView {
  height: 350px;
}

.elements--Container {
  display: flex;
  flex-direction: row;
}
