.register--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .register--title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
        font-family: 'SF-UI-Display-Bold';
        color: #CEEFFF;
    }
    
    .register--form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        padding: 40px;
        border-radius: 20px;
        background-color: #33BDFF;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

        input {
            width: 100%;
            margin-top: 20px;
            border: none;
            padding: 10px;
            border-radius: 10px;

            &:focus { 
                outline: none; 
            }
        }

        .register--button {
            width: 60%;
            margin-top: 40px;
            font-family: 'SF-UI-Display-Light';
            transition: all 0.3s ease 0s;
            letter-spacing: 2.5px;

            &:hover {
                font-family: 'SF-UI-Display-Bold';
                cursor: pointer;
                background-color: #0EFF9F;
                transform: translateY(-7px);
                box-shadow: 0 5px 15px rgba(0,0,0,0.3);
            }
        }
    }

    .goToLogin--Container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;

        h3{
            font-family: 'SF-UI-Display-Light';
            font-size: 20px;
            color: #CEEFFF;
        }

        button{
            font-family: 'SF-UI-Display-Medium';
            border-radius: 10px;
            font-size: 18px;
            background-color: #E0EEFF;
            border: none;
            padding: 5px 10px 5px 10px;
            transition: all 0.3s ease 0s;

            &:hover{
                transform: translateX(5px 5px);
                background-color: #FFD200;
                cursor: pointer;
                box-shadow: 0 5px 15px rgba(0,0,0,0.3);
            }
        }
    }
}
